 .logo {
  height: 34px;
  background: rgba(246, 246, 246, 0.486);
  /* margin: 16px; */
}
.site-layout .site-layout-background {
  background: #fff;
}

.main-layout {
  max-height: 100vh;
}

.ant-drawer-body {
  padding: 0%!important;
}
.ant-drawer-header{
  padding: 19px 24px!important;
}


